
<main>
    <section class="post-container">
        <ul *ngFor="let post of posts">
            <li [routerLink]="['/post-info', post.id]">
                <button>Details</button>
            </li>
            <li><span>title:</span> {{post.title}}</li>
            <li><span>body:</span> {{post.body}}</li>
            <li>
                <span>comments:</span>
                <div>
                    <ul *ngFor="let comment of post.comments" class="comments">
                        <li><span>name:</span> {{comment.name}}</li>
                        <li><span>email:</span> {{comment.email}}</li>
                        <li><span>body:</span> {{comment.body}}</li>
                    </ul>
                </div>

            </li>
        </ul>
    </section>

</main>
